.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artist-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 30px 30px 70px;
}

.img {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 100%;
}
