.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.main-view {
  display: flex;
  padding: 40px;
  flex-grow: 1;
  align-items: flex-start;
}

.nav {
  position: fixed;
  top: 40px;
  left: 40px;
  height: 500px;
  width: 80px;
  background: #1a1e1f;
  border-radius: 40px;
  flex-shrink: 0;
}
.navContent {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navContent button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContent button:hover {
  background-color: #2a2e2f;
}

.navContent button.active,
.navContent button.active:hover {
  color: #08a1e7;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  margin-left: 250px; /* Espaço para a nav (80px) + gap (170px) */
  overflow-y: auto;
  padding-right: 20px;
  padding-bottom: 90px;
  box-sizing: border-box;
}

.view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
