.player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #181818;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-top: 1px solid #282828;
  height: 90px; /* Altura fixa para o player */
}

.music-info {
  width: 30%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
}

.music-name {
  font-weight: bold;
  font-size: 1rem;
}

.music-artist {
  font-size: 0.8rem;
  color: #b3b3b3;
}

.music-info-placeholder {
  font-size: 0.9rem;
  color: #b3b3b3;
}

.player-controls {
  width: 40%;
  max-width: 722px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.main-controls {
  display: flex;
  gap: 16px;
  align-items: center;
}

.control-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-button:focus {
  outline: none;
}

.control-button:hover {
  color: #fff;
  transition: all 0.3s ease;
}

.play-button {
  background-color: #08a1e7;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.play-button:hover {
  transform: scale(1.05);
  background-color: #fff;
  color: #000;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  color: #a7a7a7;
  font-size: 0.7rem;
}

.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #4d4d4d;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  opacity: 0; /* Fica invisível até o hover */
  transition: opacity 0.2s;
}

.progress-bar:hover::-webkit-slider-thumb {
  opacity: 1;
}

.extra-controls {
  width: 30%;
  min-width: 180px;
  display: flex;
  justify-content: flex-end;
}
